<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <object th:include="fragments/resources :: head" th:remove="tag"></object>
</head>

<body>

<div th:fragment="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:fixed;top: 0;
  width: 100%;">
        <a class="navbar-brand" th:href="@{/}">Dr.House</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Add Patient<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/invoices}">Invoices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/search}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/statistic}">Statistic</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>