<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Stastic</title>
    <object th:include="fragments/resources :: head" th:remove="tag"></object>
</head>


<body style="background-image: url('https://static1.squarespace.com/static/55229ad2e4b01852f6f9a73a/t/5a0130cf8165f56ac4a65637/1510027480406/medical_biology_detail_medicine_psychedelic_science_abstract_abstraction_chemistry_Genetics_6499x4272.jpg?format=1500w');background-repeat: no-repeat;
    background-size: 1600px 1000px">

<header>
    <object th:include="fragments/navigation :: menu" th:remove="tag"></object>
</header>

<br>
<h2 style="text-align: center">Statistic In One Day</h2>
<table id="customers" align="center">
    <thead>
    <tr>
        <th>Number Of Patient</th>
        <th>Total Money</th>
        <th>Treatments</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${numOfPatients}"></td>
        <td th:text="${totalOfMoney+'€'}"></td>
        <td th:text="${treatments}"></td>
    </tr>

    </tbody>
</table>


<form class="adding"  th:action="@{/statistic}" method="post">
    <input type="text" name="date" required="required" placeholder="Insert Date"/>
    <br/>
    <input type="submit" value="Go"/>
</form>
<br>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>

</html>